* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #111;
  color: var(--text-main);
  overflow: hidden; /* Блокируем скролл */
  height: 100vh;
}
@keyframes float {
  0% {
    transform: translateY(0px) rotateY(-10deg) rotateX(5deg);
  }
  50% {
    transform: translateY(-20px) rotateY(-5deg) rotateX(2deg);
  }
  100% {
    transform: translateY(0px) rotateY(-10deg) rotateX(5deg);
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.2;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.4;
  }
}
